<div class="bg-black px-2 py-2">
  <div class="container mx-auto flex justify-between text-white py-1">
    <div>
      <a href="/" class="hover:bg-slate-800 rounded-lg transition-all py-2 px-2"
        >Chatroom</a
      >
      <a href="/" class="hover:bg-slate-800 rounded-lg transition-all py-2 px-2"
        >Messages</a
      >
    </div>
    <div class="relative">
      <a
        id="language-dropdown-toggle"
        href="javascript:void(0);"
        class="hover:bg-slate-800 rounded-lg transition-all py-2 px-2"
        >Account</a
      >
      <div
        id="language-dropdown"
        class="hidden absolute right-0 mt-2 py-2 w-48 bg-white rounded-lg shadow-xl"
      >
        <a href="#" class="block px-4 py-2 text-black hover:bg-gray-200"
          >Log out</a
        >
        <a href="/login" class="block px-4 py-2 text-black hover:bg-gray-200"
          >Log in</a
        >
        <a href="#" class="block px-4 py-2 text-black hover:bg-gray-200"
          >Sign up</a
        >
      </div>
      <a
        href="/"
        class="bg-blue-500 rounded-lg hover:bg-slate-800 transition-all py-2 px-2"
        >Signup</a
      >
    </div>
  </div>
</div>
